.list-items {
	list-style: none;
}

#lecture-goals {
	padding: 20px;
}

input[type="text"]:not(.edit-input) {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    padding: 12px 20px;
    margin: 8px 0;
}
  
input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #ffcb05;
}